# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Node
node_modules/
frontend/node_modules/

# Next.js
.next/
frontend/.next/

# Python
venv/
.venv/
__pycache__/
*.pyc

# Logs
*.log

# macOS
.DS_Store

# Variables de entorno
.env
.env.local

# Archivos temporales
*.tmp
